{% extends "aznews/base.html" %}
{% load static %}
{% block content %}

<main>
    {% include "aznews/main/trending/trending.html" %}
    {% include "aznews/main/home/weekly.html" %}
    {% include "aznews/main/home/whats_new.html" %}
    {% include "aznews/main/home/recent_article.html" %}
    <!-- Trending Area Start -->
  
    <!-- Trending Area End -->
    <!--   Weekly-News start -->
            
    <!-- End Weekly-News -->
   <!-- Whats New Start -->
        <!-- Whats New End -->
    <!--   Weekly2-News start -->
      
    <!-- End Weekly-News -->
    <!-- Start Youtube -->

    <!-- End Start youtube -->
    <!--  Recent Articles start -->
            
    <!--Recent Articles End -->
    <!--Start pagination -->
</main>

{% endblock content %}